:host {
    display: block;
    background-color: #333;
    --header-height: 65px;
    height: var(--header-height);
}

.container {
    margin: 0px 20px 0px 20px;
    padding: 0;
    height: var(--header-height);
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-gap: 40px;
}

ce-hamburger-button {
    margin: 21px 0px 0px 0px;
    grid-column: 1;
    background-color:#333;
}

img {
    height: 20px;
    margin-top: 10.5px;
    grid-column: 3;
    cursor: pointer;
}

h1 {
    grid-column: 2;
    color: #fff;
    font-size: 1.5em;
    font-weight: 100;
    line-height: var(--header-height);
    margin: 0px;
    padding: 0px;
    user-select: none;
    cursor: pointer;
}
